.animdivv{
    height: 100px;
    width: 100px;
    background-color: red;
    animation: animdiv linear 3s infinite normal;
}
@keyframes animdiv{
    from{
        background-color: red;    
        font-size: 50px;
    }
    to{
        background-color: aqua;    
        font-size: 100px;
    }
}