.box{
    background-color: blue;
}
.heading{
    color: red;
}
button{
    background-color: green;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    
}

.but{
    background-color: #f08804;
    margin-left: 2px;
}
p{
    color: #f08804;
}
.cart{
    color: white;
    margin-left: 200px;
}
.account{
    color: white;
    margin-left: 200px;
}
.contact{
    color: white;
    margin-left: 200px;
}
.input{
    margin-left: 200px;
}